:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
  width: 100vw;
  overflow: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hide-mobile {
  display: none;
}

.hide-laptop {
}
